<html>
    <head>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <link rel="stylesheet" href="./styles/main.css">
    </head>
    <body>
        <H1>Learn Vue</H1>
        <div id="app">
            <div>
                <div class="heading" v-if="showBooks">
                    
                </div>
                    <label class="switch">
                        <input type="checkbox" @click="toggleBooks">
                        <span class="slider round"></span>
                    </label>
                </div>  
                <li v-for="book in filterFavouriteBooks" v-if="showBooks" :class="{fav : book.fanFavourite }" @click="toggleFav(book)">
                        <img class="bookIcon" :src="book.icon" :alt="book.title">
                        <H2>{{ book.title }}</H2>
                        <H3>{{ book.author }}</H3>
                        <p>{{ book.age }}</p>
                </li>
            <div class="box" v-if="showBooks">
            <li v-for="book in books" v-if="showBooks"  >
            <button @click="changeTheBook(book)">
                <span v-if="book.fanFavourite" >Explore the fan favourite book {{ book.title }}</span>
                <span v-if="!book.fanFavourite">Explore the book {{ book.title }}</span>
            </button>
            </li>
        </div>
            <br>

        </div>
        <script src="./modules/app.js"></script>
    </body>
</html>